<html>
<head>
    <title>Title of the document</title>


    <link href="style.css" rel="stylesheet">
</head>

<body>


<p>Now in my main driver class, I have to created an officer object but since I had to</p>
 <h3>  make the method void to not return anything I am getting an error saying void cannot </h3>
  <h4>  be converted to ParkingTicket, if i take away myCar1,myMeter1 from the parentheses, </h4>
   <h5> I get an error telling me there's arguments required ParkedCar , ParkingMeter. </h5>
<h6> How can I make it so I don't get an error and the officer object created can issue a parking ticket? </h6>




</body>

</html>